@import '../../styles.scss';

.workshop-preview {
    width: 350px;
    height: 220px; // 350px
    margin: 20px;
    text-align: left;
    padding-bottom: 0;
    padding-top: 0;
    // color: white;
    // border: 2px solid white;
    mat-card.mat-card:not([class*=mat-elevation-z]){
        box-shadow: none;
    }
    .mat-card-header .mat-card-title {
        font-size: 60px;
        line-height: 70px;
    }
    .mat-card-subtitle, .mat-card-content {
        font-size: 20px;
        line-height: 30px;
    }
    mat-card{
        background-color: #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        color: rgba(0,0,0,.87);
    }
    img {
        height: 220px;
    }
    mat-card-header{
        position: absolute;
        top: 90px;
    }
    mat-card-title,
    mat-card-subtitle{
        color: white;
        // color: rgba(0,0,0,.87);
    }
    @include sm {
        // max-width: 100%;
        width: 320px;
        margin: 20px 0;
    }
}