<div class="event-container">
    <div class="header-row">
      <div class="event-title">
        
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
    <h2 class="coc-title">Applying and Participating - ngGirls</h2>
   
    <div class="faq-body">
        <h3 class="faq-title">How can I apply?</h3>
        <p>Just fill out the application form in the specific event's website - click on "Apply for the workshop". Do you already have experience in front-end development? Apply as a mentor! </p>
    </div>
    <div class="faq-body">
        <h3 class="faq-title">Where is ngGirls going to take place?</h3>
      <p>We have many events all around the world. Check the <a href="https://www.ng-girls.org/">homepage</a> for the upcoming workshops. </p>
    </div>
    <div class="faq-body">
        <h3 class="faq-title">What is the schedule of the workshop day?</h3>
        <p>The workshop usually takes place during the day. It starts with an introduction to Angular, and then the work is independent until the closing session, with a lunch break. You will get the updated schedule by mail before the event. </p>
     </div>
     <div class="faq-body">
        <h3 class="faq-title">What is the criteria for choosing applicants?</h3>
        <p>You can read about it in our source of inspiration - <a href="http://blog.djangogirls.org/post/91067112853/djangogirls-how-we-scored-applications" target="_blank">Django Girls blog post</a>. </p>
     </div>
     <div class="faq-body">
        <h3 class="faq-title">Do I need prior knowledge in programming?</h3>
        <p>In the workshop we assume you have basic knowledge in programming. Once you know how it works in one language - it's easy to manage with JavaScript. Basic knowledge in HTML and CSS is also required, but it's really easy to learn. </p>
     </div>
     <div class="faq-body">
        <h3 class="faq-title">I have no knowledge in programming whatsoever. But I’m willing to learn. Can you recommend me on some resources?</h3>
        <p>There are many tutorials on the internet for Web development: HTML, CSS and JavaScript. You should get the grasp of how things work.<br> <a target="_blank" href="https://www.codecademy.com/">Codecademy</a> is a good place to start, since it provides a platform for coding while learning. </p>
     </div>
  </div>