<footer id="footer" class="footer">
    <div class="row">
        <div class="footer-section">
            <h5>Contact us</h5>
            <a href="mailto:hello@ng-girls.org" target="_blank">hello@ng-girls.org</a>
        </div>
        <div class="footer-section">
            <h5>Code of Conduct</h5>
            <a href="./coc/">CoC</a>
        </div>
        <div class="footer-section logo-section">
            <div class="logo logo-footer logo-gray pull-right"></div>
        </div>
    </div>
    <div class="row">
        <div class="footer-section">
            <p class="copyright">
                &copy; 2021 Based on the theme <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project
                    Zeppelin</a> & a  <a href="https://scully.io/" target="_blank">Scully</a> / <a href="https://angular.io/" target="_blank">Angular</a> Jamstack<br />
                Created by <a href="./" target="_blank">Martina Carta</a>,
                <a href="./" target="_blank">Revital Friedman</a>,
                <a href="https://twitter.com/robertSPD" target="_blank">Robert Willemelis</a> &
                <a href="https://twitter.com/domizajac" target="_blank">Dominika Zając</a>
            </p>
        </div>
    </div>
</footer>