
$footer-background-color: #fcfcfc;
$footer-links-color: #555;

.footer {
    padding: 40px 52px 13px;
    border-top: 1px solid #e7e7e7;
    background-color: $footer-background-color;
    h2, h3, h5 {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a {
        color: $footer-links-color;
        &:hover {
            text-decoration: underline;
        }
    }
    // .social-links {
    //     margin-bottom: 0;
    // }
    .copyright {
        font-size: 13px;
        line-height: 1.3;
        margin-top: 40px;
    }
}



.row {
    display: flex;
    width: 80%;
    margin: auto;
        .footer-section {
            flex-grow: 1;
            text-align: center;
            margin-bottom: 25px;
        }
    }
@media (max-width: 768px){
    .footer{
        padding: 26px 20px 13px;
    }
    .row{
        flex-direction: column;
    }
}