<header id="top-header" class="top-header">
  <div class="overlay white-solid"></div>
  <a href="#home" *ngIf="isHome == true" id="logo-header" class="logo-header"  pageScroll [pageScrollOffset]="50">
    <mat-icon class="logo logo-light" [svgIcon]="'logo'"></mat-icon>
  </a>
  <a href="/" *ngIf="isHome == false" id="logo-header2" class="logo-header">
    <mat-icon class="logo logo-light" [svgIcon]="'logo'"></mat-icon>
  </a>
  <nav class="st-menu st-effect" id="menu">
    <div class="logo-navbar logo logo-dark visible-xs"></div>
    <ul class="links-container">
      <li *ngFor="let link of navLinks">
        <a class="current" href="{{link.link}}" *ngIf="link.scroll == true && isHome == true"  pageScroll [pageScrollOffset]="50">{{link.name}}</a>
        <a class="current" href="{{link.link}}" *ngIf="link.scroll == false" >{{link.name}}</a>
        <a class="current" href="{{baseUrl}}{{link.link}}" *ngIf="link.scroll == true && isHome == false" >{{link.name}}</a>
        <!-- <a class="current" href="{{link.link}}" >{{link.name}}<span *ngIf="isHome">|</span></a> -->
      </li>
    </ul>
  </nav>
</header>

