:host {
  color: #757575;
}

.mat-dialog-title {
  h1 {
    font-size: 35px;
    font-weight: 400;
    color: #212121;
  }

  h2 {
    font-size: 26px;
    font-weight: 200;
  }

}

.person-description {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  line-height: 23px;
  font-weight: 200;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.person-details {
  display: grid;
  grid-template-columns: 1fr 4fr;

  .img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
  }

  .about {
    padding-left: 30px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;

    .social {
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 34px 34px 34px;

      a:focus {
        outline: none;
      }

      ::ng-deep mat-icon:hover {
        svg {
          fill: #1bb2e9;
        }
      }
    }
  }


}
