@import '../../breakpoints';
@import '../../mixins';
$height: 700px;
.bg-image{
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: $height;
    &.bg--mobile.bg-image-mobile--950{
      // @include xs {
        height: 950px;
        img{
          height: 950px;
        }
      // }
    }
    &.bg-image--750{
        $height: 750px;
        height: $height;
        @include md {
            height: $height;
        }
        .bg-image__wrapper{
            > .bg-image__image{
                height: $height;
                @include md {
                    height: $height;
                }
            }
        }
    }
    &.bg-image--responsive{
      @include xs {
        height: $height - 100px;
      }
      @include sm {
        height: $height - 50px;
      }
      @include md {
        height: $height;
      }
      .bg-image__wrapper > .bg-image__image{
        @include xs {
          height: $height - 200px;
        }
        @include sm {
          height: $height - 50px;
        }
        @include md {
          height: $height;
        }
      }
    }
  }
  
  .bg-image__wrapper{
    display: block;
    > .bg-image__image{
      left: 50%;
      max-width: 1000%;
      min-width: 100%;
      min-width: 100vw;
      width: auto;
      top: 50%;
      padding-bottom: 1px;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      top: 0;
      -ms-transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      width: 100%;
      
      height: $height;
      position: absolute;
    }
  }
  // .foo{
  //  opacity: 0;
  // }