<div class="bg-image bg-image--{{imageHeight}} bg-image-mobile--{{mobileHeight}}" [ngClass]="{'bg-image--responsive': responsive == true, 'bg--mobile': device.isMobile, 'bg-image--fadout': fadeout == true}">
    <div class="bg-image__wrapper" *ngIf="image.src && image.src !== ''">
        <img class="bg-image__image" src="{{image.src | responsive: 'xl'}}" 
        width="1200" height="700" alt="{{image.alt}}" 
        srcset="{{image.src | responsive: 'xl'}} 1200w, 
        {{image.src | responsive: 'xs' : mobileHeight}} 350w, 
        {{image.src | responsive: 'md' : mobileHeight}} 768w, 
        {{image.src | responsive: 'lg'}} 992w,
        {{image.src | responsive: 'xl'}} 1200w" sizes="100vw" />
    </div>
</div>