.be-a-part-content {
  column-count: 2;
  text-align: start;
  column-gap: 80px;

  @media (max-width: 768px) {
    column-count: 1;
  }

  .column {
    overflow: auto;
  }

  .title {
    margin-bottom: 24px;
  }
}
