<div class="content">
<div class="mat-display-2 header">Be a part of ngGirls</div>
<div class="be-a-part-content">
<div class="column participation">

<div class="mat-display-1 title">Who is it for?</div>
<p>Are you a woman interested in learning how to build web applications with the latest technologies?
We have good news for you: <b>We are holding a one-day workshops for beginners!</b> See the full list of <a routerLink="." fragment="upcomingEvents">upcoming events</a>.</p>

<p>We believe that the IT industry will greatly benefit from bringing more women into technology.
We want to give you an opportunity to learn how to program and become a developer.</p>

<p>During the workshop <b>you will build and deploy your very first Angular Web Application!</b>
Angular is an open-source platform for building web application, developed by Google and the community.
It provides various tools to easily create a dynamic, interactive app that can run on desktop browsers, mobile and even robots.</p>

<p><b>The workshop is free of charge.</b> Just fill out the application form. Don't wait too long - you can apply for a pass only until the stated deadline.</p>

<p>For the workshop you'll need some basic knowledge in web development: HTML, CSS and basic JavaScript or any other programming language.
If you're a total beginner, that's ok! We'll send you some resources to catch up, and give you special attention during the workshop.</p>

<p><a routerLink="." fragment="community">Join our community</a> to stay informed of new events.</p>

<p>For more information check out the FAQ</p>

</div>
<div class="column mentoring">
<div class="mat-display-1 title">Can I help?</div>

<p>Of course! There are several ways you can help:</p>

<ul>
<li><b>Mentors</b> - you have a significant impact on the participants' experience.
If you can volunteer your time, knowledge, and positive encouragement during the workshop and provide some support on the days before and after, we'd love to have you!
<br/>You don't need to be an Angular expert - web developers are welcome.
<br/>Check out our <a routerLink="." fragment="upcomingEvents">upcoming events</a> and click on <b>Call for Mentors</b> on the event page.
<a routerLink="." fragment="community">Join our community</a> to get notified about our future events.
</li>
<li><b>Sponsors</b> - with your help we can make our events truly awesome! From funding tickets to Angular conferences,
through supplying lunch, to providing swag - there's lots of opportunities to help. <a href="mailto:hello@ng-girls.org" target="_blank">Send us an email</a></li>
<li><b>Anyone</b> - There are many other ways to help us. We'd love to hear your ideas and/or assign you some chores. Huge thanks in advance!</li>
</ul>
<p>Don't be shy, just <a href="mailto:hello@ng-girls.org" target="_blank">contact us</a>.</p>

</div>
</div>
</div>