
<img src="../../assets/logo_big.png" class="hero-ng-girls-logo">
<img src="../../assets/logoname.png" class="hero-ng-girls-name">

<div class="upcoming-events">
<h1>Upcoming Events</h1>

<div class="upcoming-events-cards">

<a *ngFor="let event of events" class="event-card" [routerLink]="['event', event.id]">
<mat-card routerLinkActive="active">
  <mat-card-title>{{ event.city }}</mat-card-title>
  <mat-card-subtitle>{{ event.date }}</mat-card-subtitle>
</mat-card>
</a>

</div>

<div class="event-details">
<router-outlet></router-outlet>
</div>