<section class="hero">

<img src="../../assets/logo_big.png" class="hero-ng-girls-logo">
<img src="../../assets/logoname.png" class="hero-ng-girls-name">

<div class="upcoming-events">
<h1>Upcoming Events</h1>

<div class="upcoming-events-cards">
<mat-card class="event-card">
  <mat-card-title>Berlin</mat-card-title>
  <mat-card-subtitle>October 8</mat-card-subtitle>
</mat-card>

<mat-card class="event-card">
  <mat-card-title>Verona</mat-card-title>
  <mat-card-subtitle>October 8</mat-card-subtitle>
</mat-card>

<mat-card class="event-card">
  <mat-card-title>Warsaw</mat-card-title>
  <mat-card-subtitle>October 25</mat-card-subtitle>
</mat-card>
</div>

</div>

</section>