@import '../../styles.scss';

.cdk-global-scrollblock {
	position: initial;
	width: initial;
	overflow: hidden;
}

.team-section {
  // background-image: url('../../assets/backgrounds/djangogirls.jpg');
  background-attachment: fixed;
  text-align: center;
  margin-top: 30px;
  background-position: center center;
  background-size: cover;

  .overlay {
    background: rgba(37, 32, 31, 0.8);
    padding-top: 50px;
  }

  .team-list {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    @include smx {
      width: 100%;
    }
  }

  .section-title {
    font-size: 80px;
    color: white;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: 10px;
    font-weight: 400;
    @include smx {
      margin: auto;
      font-size: 50px;
      line-height: normal;
    }
  }

  .person-card {
    padding-bottom: 30px;
    width: 210px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    @include smx {
      width: 110px;
      height: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
    .name {
      font-size: 26px;
      color: white;
      padding: 15px 0;
      width: 100%;
      font-weight: 400;
      @include smx {
        font-size: 20px;
        padding: 10px 0;
      }
    }

    .company {
      font-size: 22px;
      line-height: 25px;
      color: #03a9f4;
      font-weight: 300;
      @include smx {
        font-size: 20px;
      }
    }

    .person-img {
      height: 140px;
      width: 140px;
      border-radius: 50%;
      margin: 0 auto;
      background-position: center center;
      background-size: cover;
      @include smx {
        width: 100px;
        height: 100px;
      }
    }
  }
}
