// @import '../../styles.scss';
@import '../../breakpoints';
@import '../../mixins';

.cdk-global-scrollblock {
	position: initial;
	width: initial;
	overflow: hidden;
}

.team-section {
  background-attachment: fixed;
  text-align: center;
  margin-top: 30px;
  background-position: center center;
  background-size: cover;
  height: 700px;
  background: #000;
  .team-section__overlay {
    background: rgba(37, 32, 31, 0.8);
   position: relative;
   top: -700px;
   height: 700px;
   
  }
  &.team-section--950.team-section--mobile{
    height: 950px;
  
    .team-section__overlay.overlay--950{
      top: -950px;
      height: 950px;

   }
  }

  .overlay {
    background: rgba(37, 32, 31, 0.8);
    padding-top: 50px;
  }

  .team-list {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    @include smx {
      width: 100%;
    }
  }

 

  .person-card {
    padding-bottom: 30px;
    // width: 210px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    @include smx {
      // width: 110px;
      height: auto;
      margin-left: 5px;
      margin-right: 5px;
    }
    .name {
      font-size: 26px;
      color: white;
      padding: 15px 0;
      width: 100%;
      font-weight: 400;
      @include smx {
        font-size: 19px;
        padding: 10px 0;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .company {
      font-size: 22px;
      line-height: 25px;
      color: #03a9f4;
      font-weight: 300;
      width: 100%;
      @include smx {
        font-size: 15px;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .person-img {
      height: 140px;
      width: 140px;
      border-radius: 50%;
      margin: 0 auto;
      background-position: center center;
      background-size: cover;
      @include smx {
        // width: 100px;
        // height: 100px;
      }
    }
  }
}
