<div id="home" class="hero-image" [style.backgroundImage]="'url(' + image + ')'">
    <div class="content">
        <div class="">
            <div class="hero-text">
                <div class="logo-section">
                    <img class="logo logo-big" src='../../../../assets/logo_big.png'>
                    <img class="logo logo-name" src='../../../../assets/logo_name.png'>
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="500"></div>
                </div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>