// @import '../../styles.scss';
@import '../../breakpoints';
@import '../../mixins';

picture >  img {
  max-width: 200px;
  height: 200px;
  margin-right: 10px;
    @include smx {
    width: 100px;
    height: 100px;
  }
}

.partners-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  padding-top: 50px;
}

.section-title {
  font-size: 80px;
  margin: 60px;
  font-weight: 500;
  @include smx {
    margin: auto;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: normal;
  }
}

.django-label {
  font-size: 36px;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  line-height: normal;
}

.button-div {
  margin-top: 40px;
  margin-bottom: 60px;
}

.partners-title {
  font-size: 30px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

// .partner-logo-section {
//   // width: 200px;
//   // height: 150px;
//   padding-left: 20px;
//   padding-right: 20px;
//   justify-content: center;
//   line-height: 150px;
//   @include sm {
//     width: 100px;
//     height: 100px;
//   }

  // img {
    // max-width: 100%;
    // max-height: 100px;
    // vertical-align: middle;
  // }
// }
