<section id="partners" class="partners-section">
    <app-title label="Partners"></app-title>
    <div *ngFor="let item of items">
        <div class="partners-container">
            <app-title [label]="item.title" range="3" *ngIf="item.title"></app-title>
            <p *ngIf="item.description">{{item.description}}</p>
            <div class="partners-list">
                <div class="partner-logo-section" *ngFor="let host of item.items">
                    <app-logo [item]="host"></app-logo>
                </div>
            </div>
        </div>
        <app-button *ngIf="item.mail" [link]="item.mail.link" [label]="item.mail.label" [type]="'mail'"></app-button>
    </div>
</section>