.section-title {
    font-size: 80px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: normal;

    @media (max-width: 768px){
        margin: auto;
        margin-bottom: 30px;
        font-size: 50px;
    }
    &.dark{
        color: #fff;
        padding-top: 40px;
        margin-bottom: 10px;
        margin-top: 0px;
        @media (max-width: 768px){
            padding-bottom: 40px;
        }
    }
    &.yellow{
        font-size: 50px;
        color: #7b1fa2;
        margin: 40px 10px;
        @media (max-width: 768px){
            font-size: 45px;
        }
    }
}
.sub-title{
    font-size: 30px;
    text-align: center;
}