// @import '../../styles.scss';
@import '../../breakpoints';
@import '../../mixins';


.post-preview {
    width: 320px;
    height: 350px;
    margin: 20px;
    text-align: left;
    mat-card-header .mat-card-header-text {
        margin-left: 0;
    }
    img {
        height: 220px;
    }
    
    @include smx {
        // max-width: 100%;
        width: 320px;
        margin: 20px 0;
    }
}