<app-hero-section 
  url="{{xxx}}"
  [image]="{  alt: 'workshop bg', device: device}"
  [logo]="{ src: DEFAULTS.homeLogo, alt: 'logo'}"
  >
  <p class="hero-description">
    {{(workshop$ | async)?.date}}<span *ngIf="(workshop$ | async)?.date">, {{(workshop$ | async)?.city}}</span><span *ngIf="(workshop$ | async)?.city">, {{(workshop$ | async)?.country}}</span>
  </p>
  <button class="btn" *ngIf="(workshop$ | async)?.participantsFormLink as link" (click)="openLink(link)">
    APPLY FOR THE WORKSHOP
  </button>

  <button class="btn" *ngIf="(workshop$ | async)?.mentorsFormLink as link" (click)="openLink(link)">
    CALL FOR MENTORS
  </button>
</app-hero-section>
{{xxx}}
<div class="content-wrapper workshop-description XX">
  <scully-content></scully-content>
</div>
<app-team-section 
  [team]="(team$ )" 
  [mobileHeight]="(teamLength$ )" 
  [title]="'Meet the Mentors'"
  [showPopups]="false"
  [image]="{ src: DEFAULTS.teamBg, alt: 'bg team', device: device}"
></app-team-section>

<app-partners-section 
  [partners]="(workshop$ | async)?.partners" 
  [hosts]="(workshop$ | async)?.hosts"
  [sponsorsCallMail]="(workshop$ | async)?.sponsorsCallMail">
</app-partners-section>

<app-patreon></app-patreon>