<section id="patreon" class="patreon-section">
    <div class="content-wrapper">
        <a href="https://www.patreon.com/ngGirls" target="_blank" class="link-container">
            <h1>Support ngGirls on Patreon</h1>
            <!-- <img src="../../assets/patreon.webp" alt="patreon" class="patreon-img"> -->
            <picture>
                <source media="(min-width: 577px)" srcset="../../assets/patreon.webp">
                <source media="(min-width: 300px)" srcset="../../assets/patreon_small.webp">
                <img src="../../assets/patreon.webp" alt="Logo ngGirls" width="430" height="229">
              </picture>
        </a>
    </div>
</section>