.content-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.patreon-section {
    background: antiquewhite;
    padding: 40px;
    margin-top: 30px;
}
app-logo{
    text-align: center;
}
