<section id="patreon" class="patreon-section">
    <div class="content-wrapper">
        <a href="https://www.patreon.com/ngGirls" target="_blank" rel="noopener" class="link-container">
            <app-title label="Support ngGirls on Patreon" type="yellow"></app-title>
            <picture>
                <source media="(min-width: 577px)" srcset="../../assets/backgrounds/patreon/patreon.webp">
                <source media="(min-width: 300px)" srcset="../../assets/backgrounds/patreon/patreon_small.webp">
                <img src="../../assets/backgrounds/patreon/patreon.webp" alt="Patreon ngGirls" width="430" height="229" loading="lazy" >
              </picture>
        </a>
    </div>
</section>