.logo {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
.logo--header{
      float: left;
  }

  @media (max-width: 768px){
    .logo--main{
      margin-left: -30%;
      position: relative;
    }
  }