// @import '../../styles.scss';
// TODO
@import '../../breakpoints';
@import '../../mixins';

.section {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;



  
}
.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
}

.subsection-card {
  width: 350px;
  padding: 30px 50px;
}

.subsection-title {
  font-size: 36px;
  font-weight: 400;
}

.subsection-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  vertical-align: center;
  background-position: center center;
  background-size: cover;
  margin: 20px auto;
}

.subsection-description {
  font-size: 17px;
  line-height: 23px;
  font-weight: 300;
  margin-top: 10px;
}


// a {
//     text-decoration: none;
//     font-weight: 400;
//   }
  
  .description-title {
  font-size: 30px;
  margin-bottom: 30px;
}