<div class="content">
  <h1>Join the ngGirls Community</h1>

  <div class="community-items">
    <a href="https://forms.gle/oD3tgE1zXbPjqmPn7" target="_blank" class="community-item">
      <img class="community-icon" src="../../assets/community/newsletter.png">
      <div class="community-title">Subscribe to our newsletter</div>
    </a>

    <a href="https://www.meetup.com/nggirls/" target="_blank" class="community-item">
      <img class="community-icon" src="../../assets/community/meetup.png">
      <div class="community-title">Join our meetup group</div>
    </a>

    <a href="https://opencollective.com/ng-girls" target="_blank" class="community-item">
      <img class="community-icon" src="../../assets/community/open-collective.svg">
      <div class="community-title">Support us on Open Collective</div>
    </a>
  </div>

</div>
