@use '@angular/material' as mat;

$my-custom-typography-config: mat.define-typography-config(
$headline:  mat.define-typography-level(34px, 48px, 400),
$title: mat.define-typography-level(20px, 32px, 500),
$body-1: mat.define-typography-level(16px, 32px, 400),
$body-2: mat.define-typography-level(16px, 28px, 500)

);

@include mat.core($my-custom-typography-config);

.mat-card-title {
  font-size: 24px;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #595063;

  b {
    font-weight: 500;
  }

  ul {
    padding-inline-start: 20px;
  }

  a {
    color: #c5122d;

    &:visited {
      color: darkslateblue;
    }
  }
}

.content {
  margin: auto;
  padding: 40px;
  text-align: center;
  z-index: 1;
  @media screen and (min-width: 1200px) {
    max-width: 80%;
    width: inherit;
  }
  @media screen and (max-width: 600px) {
    padding: 20px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
