<app-hero-section [sectionBg]="'../../../../assets/backgrounds/eclipse.jpg'">
  <h3 class="upcoming-text">Upcoming events:</h3>
  <div class="events-list">
    <div *ngFor="let event of events$ | async">
      <a [routerLink]="event.route" *ngIf="!event.archived">
        <div class="workshop-card" [style.backgroundImage]="'url(' + (event.sectionBgThumb ?  event.sectionBgThumb : event.sectionBg) + ')'">
          <div class="card-overlay">
            <div class="workshop-link" >
              <b>{{ event.title }}</b><br/>
              {{event.date}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</app-hero-section>

<app-patreon></app-patreon>

<app-about-section></app-about-section>

<app-team-section 
  [team]="organizers" 
  [title]="'Organizing Team'"
  [showPopups]="true"
></app-team-section>

<app-partners-section 
  [isDjangoLabelVisible]="true" 
  [partners]="partners">
</app-partners-section>

<!-- <app-blog-home 
  [postLimit]="3">
</app-blog-home> -->