<app-hero-section [image]="'../../../../assets/backgrounds/eclipse/eclipse' + breakpoint +'.webp'" [full]="true">
  <div class="button-div" *ngIf="events$ | async; let events">
    <a href="#workshops"  pageScroll [pageScrollOffset]="100">
        <button class="btn">
          {{events.length}} Upcomin event{{events.length > 1 ? 's' : ''}} 
        </button>
    </a>
</div>
</app-hero-section>

<app-workshops-home 
[title]="'Upcoming events:'"
[postLimit]="3">
</app-workshops-home>


<app-patreon></app-patreon>

<app-about-section></app-about-section>

<app-team-section 
  [team]="organizers" 
  [title]="'Organizing Team'"
  [showPopups]="true"
  [image]="'../../../../assets/backgrounds/djangogirls.webp'"
></app-team-section>

<app-partners-section 
  [isDjangoLabelVisible]="true" 
  [partners]="partners">
</app-partners-section>

<app-blog-home 
  [postLimit]="3">
</app-blog-home>