
.content-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
}
.content-wrapper.blog{
    margin-top: 100px;
}
.header {
    margin-bottom: 50px;
}
.content-wrapper.blog .header{
    font-size: 80px;
}
.content-wrapper.workshops .header{
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content-wrapper.workshops .item-list > div{
    margin-bottom: 20px;
}
@media (max-width: 768px){
    .content-wrapper{
        width: 100%;
    }
    .content-wrapper.workshops .header{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}